.card{
    height: 42rem;
    width: 26rem;
    text-align: center;
    border: var(--main-bg-color) 1rem solid;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}

.card-1{
    background-color: var(--primary-color);
    width: 30rem;
    height: 50rem;
}

.card h2{
    font-size: 2.8rem;
    margin-bottom: 5rem;
}

.slide-artists-list{
    height: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}