@keyframes card0Animation{
    from{
        transform: translateX(0);
        color: transparent;
    }50%{
        transform: translateX(100%);
    }
    80%{
        transform: translateX(0);
    }
    90%{
        transform: translateX(10%);
    }
    to{
        transform: translateX(0);
        color: var(--main-bg-color);
    }
}

@keyframes card1Animation{
    from{
        transform: translateY(0);
        color: transparent;
    }50%{
        transform: translateY(-10%);
    }80%{
        transform: translateY(0);
    }90%{
        transform: translateY(-2%);
    }
    to{
        transform: translateY(0);
        color: var(--main-bg-color);
    }
}

@keyframes card2Animation{
    from{
        transform: translateX(0);
        color: transparent;
    }50%{
        transform: translateX(-100%);
    }80%{
        transform: translateX(0);
    }90%{
        transform: translateX(-10%);
    }
    to{
        transform: translateX(0);
        color: var(--main-bg-color);
    }
}

.card{
    height: 42rem;
    width: 26rem;
    text-align: center;
    border: var(--main-bg-color) 1rem solid;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}

.slide-artists-list{
    height: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide-artist-name{
    padding: .5rem 0;
    font-size: 1.6rem;
}

.card-1{
    background-color: var(--primary-color);
    width: 30rem;
    height: 50rem;
    z-index: 5;
    animation: 1s ease-out card1Animation;
    animation-iteration-count: 1;
}

.card-1 .slide-artist-name{
    font-size: 2rem;
}

.card h2{
    font-size: 2rem;
    margin-bottom: 5rem;
}

.card-1 h2{
    font-size: 2.4rem;
}

.card-0{
    animation : 1s ease-out card0Animation;
    animation-iteration-count: 1;
}

.card-2{
    animation: 1s ease-out card2Animation;
    animation-iteration-count: 1;
}