.buy-tickets{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
    margin-top: 20rem;
    color: var(--primary-color);
    font-weight: 800;
}

.buy-tickets-title{
    font-size: 3.6rem;
    margin: 0;
    transition: all 400ms ease-in-out;
}

.buy-tickets-description{
    font-size: 2rem;
    transition: all 400ms ease-in-out;
}

.buy-tickets-button{
    background: var(--primary-color);
    color: var(--main-bg-color);
    border:var(--main-bg-color) .3rem solid;
    padding: 2.5rem;
    margin-top: 4rem;
    border-radius: 2rem;
    font-family: 'Roboto Serif', serif;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.buy-tickets-button:hover{
    background: var(--main-bg-color);
    color: var(--primary-color);
    border: var(--primary-color) .3rem solid;
}

.buy-tickets-circle{
    background: var(--primary-color);
    position: absolute;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    z-index: -1;
    transition: all 400ms ease-in;
}