:root{
  --main-bg-color:#020403;
  --primary-color:#FFE500;
  --secondary-color:#a66bff;
}

*{
  box-sizing: border-box;
}

html{
  font-size:62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
  font-size: 1.6rem;
  font-family: "Roboto Serif", serif;
}

@import url('Header.css');
@import url('HomePresentation.css');
@import url('Slider.css');
@import url('Lines.css');
@import url('CTABuyTickets.css');
